.wrapper .container:nth-child(odd){
  background: #e0ffff;
}

.wrapper .container:nth-child(even){
  background:aliceblue;
}

.container{
  margin: 50px 20px 100px 20px;
  border-top: 2px solid #19659d;
  border-bottom: 2px solid #19659d;
}

.useState-example{
  padding: 20px 0px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 3px 6px rgb(120 117 117 / 16%), 0 3px 6px rgb(193 185 185 / 23%) !important
}

.count{
  font-weight: bold;
  font-size: 15px;
  color: #19659D;
}

.btn{
  padding: 6px 16px;
  font-size: 0.875rem;
  min-width: 64px;
  box-sizing: border-box;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 500;
  line-height: 1.75;
  border-radius: 4px;
  letter-spacing: 0.02857em;
  text-transform: uppercase; 
  cursor: pointer;
  color: #FFF;
  background: #19659D;
  border: 0;
  cursor: pointer;
  display: inline-flex;
  outline: 0;
  position: relative;
  align-items: center;
  user-select: none;
  vertical-align: middle;
  justify-content: center;
  text-decoration: none;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
}

.btn:hover{
  background-color: rgb(17, 82, 147);
  box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%), 0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
}

.action button{
  margin: 20px 20px 20px 0px;
}

.context-para{
  padding: 50px;
}

